.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-areas:
    "title website"
    "image paragraph";
  gap: 48px 40px;
}
@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px auto;
    column-gap: 32px;
  }
}
@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px auto;
    column-gap: 28px;
  }
}
@media screen and (max-width: 767px) {
  .place {
    row-gap: 32px;
    grid-template-columns: auto;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
  }
}
